@font-face {
	font-family: "Cohaerentia-Italic";
	src: url('../Fonts/cohaerentia/Cohaerentia-Italic') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cohaerentia-Regular";
	src: url('../Fonts/cohaerentia/Cohaerentia-Regular') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cohaerentia-SmallCaps-regular";
	src: url('../Fonts/cohaerentia/Cohaerentia-SmallCaps-regular') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	background: #fff2cc;
	font-family: "Cohaerentia-Regular";
	margin: 0;
}

/*------------------------------ Header ------------------------------*/

#header {
	background-color: #e06666;
	height: 80px;
	border-bottom: 1px solid #fff;
	padding: 5px 20px 10px; /* Format: Top padding, Left Padding, Bottom Padding*/

}