
/* Adding Fonts */
@font-face {
	font-family: "Cohaerentia-Italic";
	src: url('../Fonts/cohaerentia/Cohaerentia-Italic') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cohaerentia-Regular";
	src: url('../Fonts/cohaerentia/Cohaerentia-Regular') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Cohaerentia-SmallCaps-regular";
	src: url('../Fonts/cohaerentia/Cohaerentia-SmallCaps-regular') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------ Body ------------------------------*/
body {
	background: #fff2cc;
	font-family: "Cohaerentia-Regular";
	margin: 0;
}

/*------------------------------ Header ------------------------------*/

#header {
	background-color: #e06666;
	height: 80px;
	border-bottom: 1px solid #fff;
	padding: 5px 20px 10px; /* Format: Top padding, Left Padding, Bottom Padding*/
	overflow: hidden;
}


/** Logo **/
#logo {
	width: 85px;
	height: 80px;
	margin-right: 20px;
	float: left;
}

#logo img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
	background-color:  white;
	border: 2px solid #000;
}

/** Header Text **/
#header #text {
	width: 500px;
	float: left;
}

/** Navigation **/
#header #navigation {
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	float: right;
}

#navigation li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

#navigation li:first-child {
	margin-left: 0;
}

/*------------------------------ Contents ------------------------------*/

div {
	border: 2px solid blue;
}

/** Social Media Logo **/
#social img {
	height:  60px;
}

/** Next Paragraph Indent **/
p + p {
	text-indent: 2em;
}

/** List Description **/
li + a + a {
	text-indent: 2em;
}